*{
    margin: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    width: 100vw;
    background-color: cyan;
}

#li2{
    color: blue;
}

.image{
    display:inline-block;
}


.sub3{
  color: rgb(253, 165, 0);
  font-size: 2em;
  text-transform: uppercase;

}


a:visited{
    color:green;

}

a:hover{
    color: red;
}


.box-model{
    padding: 5px;
    margin: 10%;   
}

#tree{
    border-radius: 50%;
    width:30% ;
}

